
body {
  background-color: antiquewhite;
}


h1 {
  color: #800000; 
  text-shadow: #6666 0.1em 0.1em 0.2em;
}
#links {
  float: left;
  max-width: 50%;	
}
#links li {
  cursor: pointer;
  transition: 0.3s ease;
  opacity: 0.7;
}

#links li:hover {
  opacity: 1;
}


.historia {
  margin: 20px;
  display: none; /* coloca todos como invisiveis inicialmente */
}

footer {    
    width: 500px;
    margin: 20px auto;

}

.text{
    border: solid black;
    width: 92.5%;
    
    margin-left: 75px;
}
